<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App || About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <body>
        <h1>Express Application 🕵️‍♀️</h1>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsam voluptatem sapiente ratione corrupti,
            quam veritatis illum temporibus optio ullam.
            Ut nemo totam architecto quibusdam cupiditate aspernatur
            magnam ullam error officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nulla excepturi animi perspiciatis assumenda labore repellendus tempore quidem quibusdam velit esse,
            corrupti aperiam nobis eum id asperiores laborum mollitia delectus aliquam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit rerum commodi,
            sapiente quia repellat ipsum maxime veritatis blanditiis debitis nam,
            illo sunt, laboriosam quod sequi corrupti voluptatum magnam consectetur nisi?
        </p>
    </body>
</body>

</html>